[Unit]
Description=hide VDR-Frontend
Requires=vdr.service
After=vdr.service
Before=kodi.service

[Service]
Type=oneshot
ExecStart=/bin/sh /storage/.kodi/addons/ff-vdr/vdr-frontend.sh stop

[Install]
WantedBy=kodi.service
