[Unit]
Description=VDR-Target
Requires=multi-user.target graphical.target network-online.target
After=network-online.target graphical.target
Conflicts=rescue.target
AllowIsolate=yes
